<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{subject}}</title>
    <style>
      body { font-family: "Plus Jakarta Sans", sans-serif; color: #282F3C;
      font-size: 16px; padding: 16px; } .main{ padding-bottom: 16px } .password{
      font-size: 16px; font-weight: 700; padding-bottom: 16px; } .regards {
      font-size: 14px } .team { font-size: 14px; font-weight: 500; } .link{
      padding: 16px 32px; background-color: #99f6e4; color: #0f766e;
      font-weight: 600; border-radius: 7px; } .token{ padding-bottom: 16px }
      .ignore{ padding-top: 16px; pading-bottom: 8px; } a{text-decoration:
      none;}
    </style>
  </head>
  <body>
    <h1>Hi {{name}}!</h1>
    <p class='main'>
      Seems you have forgotten your password. No big deal! Just go into the link
      below and enter your new password.
    </p>
    <a class='link' href={{url}}>Reset your password</a>
    <p class='ignore'>
      If you didn't forget your password, please ignore this email!
    </p>
    <p class='regards'>
      Best Regards,
    </p>
    <p class='team'>
      Deermood Team
    </p>
  </body>
</html>